<%@customers.each do |customer| %>
  <div class="customer">
    <h3><%=customer.full_name%></h3>
    <p class="customer_image"><%=image_tag customer.image%></p>
    <p class="customer_detail"><span class = "province_tag">Province:</span> <%=customer.province.nil? ? 'None' : customer.province.name%></p>
    <p class="customer_detail"><%=customer.phone_number%></p>
    <p class="customer_detail"><%=customer.email_address%></p>
  </div>
<%end%>
